.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 967px;
}

.u-section-1 .u-shape-1 {
  width: 336px;
  background-image: none;
  height: 873px;
  margin: 94px auto 0;
}

.u-section-1 .u-image-1 {
  width: 784px;
  height: 588px;
  margin: -839px auto 0;
}

.u-section-1 .u-group-1 {
  width: 556px;
  min-height: 389px;
  margin: -161px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 27px auto 0;
}

.u-section-1 .u-image-2 {
  width: 62px;
  height: 62px;
  margin: 14px auto -2px;
}

.u-section-1 .u-image-3 {
  width: 206px;
  height: 204px;
  margin: -849px auto 0 68px;
}

.u-section-1 .u-image-4 {
  width: 57px;
  height: 57px;
  margin: -137px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    height: 880px;
    margin-top: 87px;
  }

  .u-section-1 .u-image-1 {
    width: 762px;
    height: 507px;
    margin-top: -854px;
  }

  .u-section-1 .u-group-1 {
    min-height: 405px;
    margin-top: -122px;
  }

  .u-section-1 .u-image-2 {
    width: 55px;
    height: 55px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    width: 180px;
    height: 180px;
    margin-top: -816px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -144px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1 .u-shape-1 {
    width: 304px;
    height: 812px;
  }

  .u-section-1 .u-image-1 {
    width: 599px;
    height: 449px;
    margin-top: -787px;
  }

  .u-section-1 .u-group-1 {
    width: 466px;
    margin-top: -117px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -761px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -132px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-1 .u-shape-1 {
    width: 232px;
    height: 752px;
  }

  .u-section-1 .u-image-1 {
    width: 453px;
    height: 340px;
    margin-top: -706px;
    margin-right: 36px;
  }

  .u-section-1 .u-group-1 {
    width: 415px;
    margin-top: -47px;
  }

  .u-section-1 .u-image-3 {
    width: 126px;
    height: 126px;
    margin-top: -752px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-1 .u-shape-1 {
    width: 242px;
    height: 637px;
    margin-top: 73px;
  }

  .u-section-1 .u-image-1 {
    width: 318px;
    height: 243px;
    margin-top: -608px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 306px;
    min-height: 356px;
    margin-top: -66px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 16px;
  }

  .u-section-1 .u-image-3 {
    width: 36px;
    height: 36px;
    margin-top: -548px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 29px;
    height: 29px;
    margin-top: -14px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 662px;
}

.u-section-2 .u-shape-1 {
  height: 202px;
  margin-top: 164px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  min-height: 492px;
  width: 976px;
  margin: -281px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 18px);
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  grid-gap: 27px 27px;
  grid-auto-rows: 100%;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  margin: 265px 0 0;
}

.u-section-2 .u-image-1 {
  height: 228px;
  margin-top: -390px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 9px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 265px 0 0;
}

.u-section-2 .u-image-2 {
  height: 228px;
  margin-top: -340px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 9px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 293px 0 0;
}

.u-section-2 .u-image-3 {
  height: 228px;
  margin-top: -418px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 9px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: -59px auto 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 45px;
  min-height: 16px;
  width: 99px;
  min-width: 42px;
  animation-duration: 1000ms;
  margin: -38px calc(((100% - 1140px) / 2) + 186px) 60px auto;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 683px;
  }

  .u-section-2 .u-list-1 {
    min-height: 511px;
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 18px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
  }

  .u-section-2 .u-text-1 {
    margin-top: 256px;
  }

  .u-section-2 .u-image-1 {
    height: 219px;
    margin-top: -381px;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 284px;
  }

  .u-section-2 .u-image-2 {
    height: 219px;
    margin-top: -359px;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-top: 284px;
  }

  .u-section-2 .u-image-3 {
    height: 219px;
    margin-top: -434px;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -66px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: -34px;
    margin-right: calc(((100% - 940px) / 2) + 98px);
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1259px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    min-height: 1089px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 13.5px);
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
    grid-auto-rows: calc(66.66% - 9px);
  }

  .u-section-2 .u-text-1 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-1 {
    height: 256px;
    margin-top: -393px;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-top: 293px;
  }

  .u-section-2 .u-image-2 {
    height: 256px;
    margin-top: -368px;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-top: 321px;
  }

  .u-section-2 .u-image-3 {
    height: 256px;
    margin-top: -446px;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -669px;
    margin-right: calc(((100% - 720px) / 2) + 62px);
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 560px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2) + 124px);
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1608px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 130px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1597px;
    width: 540px;
    margin-top: -321px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(33.33% - 18px);
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px 30px 55px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 380px;
    margin-right: -8px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-1 {
    height: 353px;
    width: 458px;
    margin-top: -460px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 3px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px 30px 55px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 380px;
    margin-right: -8px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-2 {
    height: 353px;
    width: 458px;
    margin-top: -460px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 3px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 30px 30px 55px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 380px;
    margin-right: -8px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-3 {
    height: 353px;
    width: 458px;
    margin-top: -460px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 3px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -604px;
    margin-right: calc(((100% - 540px) / 2) + 48px);
  }

  .u-section-2 .u-social-icons-1 {
    margin: 504px calc(((100% - 540px) / 2) + 30px) 11px auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1629px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1580px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 311px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 247px;
    width: 320px;
    margin-top: -411px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -14px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 311px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 247px;
    width: 320px;
    margin-top: -411px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -14px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 311px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 247px;
    width: 320px;
    margin-top: -411px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -14px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -634px;
    margin-right: auto;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 532px;
    margin-right: auto;
    margin-bottom: 50px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 968px;
}

.u-section-3 .u-shape-1 {
  height: 228px;
  margin-top: 204px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  height: 515px;
  width: 912px;
  filter: brightness(0.6);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -371px auto 0;
}

.u-section-3 .u-text-1 {
  width: 645px;
  margin: 45px auto 0;
}

.u-section-3 .u-text-2 {
  width: 645px;
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 22px auto 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  background-image: none;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-image-1 {
    height: 457px;
    width: 810px;
    margin-top: -323px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 127px;
  }

  .u-section-3 .u-shape-1 {
    width: 436px;
    margin-top: -524px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    height: 250px;
    width: 400px;
    margin-top: -239px;
    margin-right: -37px;
    margin-left: 357px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-right: -159px;
    margin-left: 234px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-right: 32px;
    margin-left: 425px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 13px;
    margin-right: 71px;
    margin-bottom: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 91px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    height: 306px;
    width: 456px;
    margin-top: -267px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 263px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-3 .u-shape-1 {
    height: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 180px;
    width: 285px;
    margin-top: -130px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 48px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 48px;
    margin-bottom: 60px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 653px;
}

.u-section-4 .u-shape-1 {
  width: 483px;
  height: 652px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1072px;
  margin: -595px 0 58px auto;
}

.u-section-4 .u-image-1 {
  min-height: 538px;
  background-image: url("images/b4f60df5-647e-b99f-a687-ec47c26aa869.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  height: 308px;
  margin: 45px -60px 0 0;
}

.u-section-4 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-4 .u-label-2 {
  font-size: 1.125rem;
}

.u-section-4 .u-label-3 {
  font-size: 1.125rem;
}

.u-section-4 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 2px;
  border-style: none;
  background-image: none;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 411px;
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 883px;
    margin-top: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 531px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-4 .u-form-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-4 .u-shape-1 {
    width: 286px;
    height: 568px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -88px auto 0 25px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 675px;
    margin-top: -537px;
    margin-bottom: 47px;
  }

  .u-section-4 .u-image-1 {
    min-height: 506px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-4 .u-shape-1 {
    height: 416px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 443px;
    margin-top: -393px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-4 .u-shape-1 {
    height: 283px;
    margin-top: -36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 280px;
    margin-top: -283px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-image-1 {
    min-height: 298px;
  }
}