.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/ind1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 315px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 183px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 132px;
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px 13px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 57px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 11px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 132px;
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px 13px;
}

.u-section-1 .u-text-3 {
  font-weight: 900;
  margin: 0 -11px 0 11px;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-2 {
  width: 57px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 11px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 132px;
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px 13px;
}

.u-section-1 .u-text-5 {
  font-weight: 900;
  margin: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-line-3 {
  width: 57px;
  transform-origin: left center 0px;
  height: 3px;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1023px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 109px;
  }

  .u-section-1 .u-line-1 {
    width: 47px;
    position: relative;
    transform: rotate(0.0173deg);
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 109px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-2 {
    width: 47px;
    position: relative;
    transform: rotate(0.0173deg);
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 109px;
  }

  .u-section-1 .u-line-3 {
    width: 47px;
    position: relative;
    transform: rotate(0.0173deg);
    margin-top: -48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -777px;
    margin-bottom: 17px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 36px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-line-2 {
    width: 36px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-line-3 {
    width: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -868px;
    margin-bottom: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-line-1 {
    width: 34px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-2 {
    width: 34px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-line-3 {
    width: 34px;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -785px;
    margin-bottom: 18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 2;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-1 .u-line-2 {
    width: 57px;
  }

  .u-section-1 .u-layout-cell-3 {
    order: 3;
  }

  .u-section-1 .u-line-3 {
    width: 57px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 893px;
}

.u-section-2 .u-image-1 {
  height: 658px;
  width: 978px;
  margin: 18px auto 0 81px;
}

.u-section-2 .u-image-2 {
  width: 272px;
  height: 153px;
  margin: -432px auto 0 197px;
}

.u-section-2 .u-image-3 {
  width: 101px;
  height: 43px;
  margin: -28px 808px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 259px;
  height: 231px;
  margin: 93px 25px 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -15px auto 0 416px;
  padding: 8px 88px 9px 87px;
}

.u-section-2 .u-image-5 {
  width: 268px;
  height: 234px;
  margin: -243px auto 0 18px;
}

.u-section-2 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 27px 387px 60px auto;
  padding: 8px 112px 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-2 .u-image-1 {
    height: 694px;
    width: 1031px;
    margin-top: 0;
    margin-left: -45px;
    margin-right: -45px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -406px;
    margin-left: 132px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -32px;
    margin-right: auto;
    margin-left: 167px;
  }

  .u-section-2 .u-image-4 {
    width: 322px;
    height: 288px;
    margin-top: 157px;
    margin-right: 38px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 41px;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    width: 257px;
    height: 224px;
    margin-top: -342px;
    margin-left: 55px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 141px;
    margin-right: auto;
    margin-bottom: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-2 .u-image-1 {
    width: 790px;
    height: 533px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-2 .u-image-2 {
    width: 176px;
    height: 100px;
    margin-top: -197px;
    margin-left: 317px;
  }

  .u-section-2 .u-image-3 {
    width: 71px;
    height: 26px;
    margin-left: 334px;
  }

  .u-section-2 .u-image-4 {
    width: 200px;
    height: 177px;
    margin-right: 32px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -311px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 113px;
    margin-bottom: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-2 .u-image-1 {
    height: 402px;
    width: 603px;
    margin-top: 3px;
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-2 .u-image-2 {
    width: 126px;
    height: 86px;
    margin-top: -65px;
    margin-left: 94px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -28px;
    margin-left: 86px;
  }

  .u-section-2 .u-image-4 {
    width: 148px;
    height: 132px;
    margin-top: -84px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-2 .u-image-1 {
    height: 283px;
    width: 422px;
    margin-left: -41px;
    margin-right: -41px;
  }

  .u-section-2 .u-image-2 {
    width: 76px;
    height: 61px;
    margin-top: -172px;
    margin-left: 76px;
  }

  .u-section-2 .u-image-3 {
    width: 48px;
    height: 20px;
    margin-top: -9px;
    margin-right: 226px;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    width: 101px;
    height: 90px;
    margin-top: 126px;
  }

  .u-section-2 .u-image-5 {
    width: 150px;
    height: 131px;
    margin-top: -221px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 116px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1349px;
}

.u-section-3 .u-image-1 {
  width: 232px;
  height: 441px;
  margin: 30px auto 0 26px;
}

.u-section-3 .u-image-2 {
  width: 232px;
  height: 441px;
  margin: -441px auto 0 308px;
}

.u-section-3 .u-image-3 {
  width: 232px;
  height: 441px;
  margin: -441px 285px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 232px;
  height: 441px;
  margin: -441px auto 0 883px;
}

.u-section-3 .u-image-5 {
  width: 255px;
  height: 227px;
  animation-duration: 1000ms;
  margin: -387px auto 0 15px;
}

.u-section-3 .u-image-6 {
  width: 214px;
  height: 186px;
  animation-duration: 1000ms;
  margin: -207px auto 0 318px;
}

.u-section-3 .u-image-7 {
  width: 259px;
  height: 259px;
  animation-duration: 1000ms;
  margin: -222px 271px 0 auto;
}

.u-section-3 .u-image-8 {
  width: 232px;
  height: 232px;
  animation-duration: 4750ms;
  margin: -248px auto 0 883px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: center;
  margin: 103px 44px 0 auto;
  padding: 11px 46px 11px 44px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: center;
  margin: -48px 308px 0 auto;
  padding: 11px 46px 11px 44px;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: normal;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: center;
  margin: -48px auto 0 331px;
  padding: 11px 46px 11px 44px;
}

.u-section-3 .u-btn-4 {
  animation-duration: 1000ms;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: normal;
  align-self: center;
  margin: -48px auto 0 53px;
  padding: 11px 46px 11px 44px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: -419px 918px 0 62px;
}

.u-section-3 .u-image-9 {
  width: 232px;
  height: 441px;
  margin: 421px auto 0;
}

.u-section-3 .u-image-10 {
  width: 248px;
  height: 140px;
  animation-duration: 4750ms;
  margin: -385px auto 0;
}

.u-section-3 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  align-self: center;
  margin: 152px auto 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: center;
  margin: -45px auto 0;
}

.u-section-3 .u-group-1 {
  width: 446px;
  min-height: 195px;
  animation-duration: 1000ms;
  margin: -432px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 30px 247px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 14px 15px 0 0;
}

.u-section-3 .u-group-2 {
  width: 446px;
  min-height: 195px;
  animation-duration: 1000ms;
  margin: -195px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 30px 129px 0 0;
}

.u-section-3 .u-image-11 {
  width: 39px;
  height: 44px;
  margin: -39px 100px 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 9px 15px 0 0;
}

.u-section-3 .u-group-3 {
  width: 446px;
  min-height: 195px;
  animation-duration: 1000ms;
  margin: 39px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 30px 40px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 14px 15px 0 0;
}

.u-section-3 .u-group-4 {
  width: 446px;
  min-height: 195px;
  animation-duration: 1000ms;
  margin: -195px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 30px 37px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 0.875rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 14px 15px 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.875rem;
  margin: -845px 635px 0 345px;
}

.u-section-3 .u-text-11 {
  font-size: 1.875rem;
  margin: -33px 287px 0 626px;
}

.u-section-3 .u-text-12 {
  font-size: 1.875rem;
  margin: -33px 30px 0 889px;
}

.u-section-3 .u-text-13 {
  font-size: 1.5rem;
  width: 258px;
  margin: 434px auto 0;
}

.u-section-3 .u-image-12 {
  width: 144px;
  height: 162px;
  margin: 358px auto 60px -52px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1413px;
  }

  .u-section-3 .u-image-1 {
    height: 406px;
    margin-top: 470px;
    margin-right: 517px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: -869px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-right: 20px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 20px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -392px;
    margin-left: 9px;
  }

  .u-section-3 .u-image-6 {
    width: 176px;
    margin-top: -227px;
    margin-left: auto;
  }

  .u-section-3 .u-image-7 {
    margin-top: -202px;
    margin-right: 0;
  }

  .u-section-3 .u-image-8 {
    margin-top: 210px;
    margin-right: 517px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 72px;
    margin-right: auto;
    margin-left: 209px;
    padding-bottom: 12px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -474px;
    margin-right: 43px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 38px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -413px;
    margin-right: 722px;
    margin-left: 54px;
  }

  .u-section-3 .u-image-9 {
    height: 406px;
    margin-top: 414px;
    margin-right: 186px;
  }

  .u-section-3 .u-image-10 {
    margin-top: -321px;
    margin-right: 178px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 125px;
    margin-left: 558px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: -49px;
    margin-right: 222px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 69px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 203px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-11 {
    width: 35px;
    height: 40px;
    margin-top: -35px;
    margin-right: 103px;
  }

  .u-section-3 .u-group-3 {
    min-height: 218px;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-3 .u-group-4 {
    min-height: 218px;
    margin-top: -218px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-text-10 {
    width: 160px;
    margin-top: -1321px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-right: 23px;
    margin-left: 690px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 430px;
    margin-right: 523px;
    margin-left: 197px;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -33px;
    margin-right: 208px;
    margin-left: 480px;
  }

  .u-section-3 .u-image-12 {
    height: 163px;
    margin-top: 219px;
    margin-left: -21px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1585px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 434px;
    margin-right: 375px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -875px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin-left: auto;
  }

  .u-section-3 .u-image-5 {
    margin-top: -396px;
    margin-left: -11px;
  }

  .u-section-3 .u-image-6 {
    width: 214px;
    margin-top: -206px;
  }

  .u-section-3 .u-image-7 {
    margin-top: -222px;
    margin-right: -14px;
  }

  .u-section-3 .u-image-8 {
    margin-top: 216px;
    margin-right: auto;
    margin-left: 117px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 77px;
    margin-left: 131px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -484px;
    margin-right: auto;
    margin-left: 511px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 28px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -406px;
    margin-right: 504px;
    margin-left: 33px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 416px;
    margin-right: 111px;
  }

  .u-section-3 .u-image-10 {
    margin-top: -332px;
    margin-right: 112px;
  }

  .u-section-3 .u-btn-5 {
    font-weight: normal;
    margin-top: -305px;
    margin-right: 23px;
    margin-left: auto;
    padding: 13px 48px 13px 46px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 387px;
    margin-right: 152px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 0;
  }

  .u-section-3 .u-group-2 {
    margin-top: -56px;
  }

  .u-section-3 .u-image-11 {
    width: 34px;
    height: 39px;
    margin-top: -32px;
    margin-right: 107px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 7px;
  }

  .u-section-3 .u-group-3 {
    min-height: 210px;
    margin-top: -21px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 12px;
    margin-right: 16px;
    margin-left: -1px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -89px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -1502px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 493px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 439px;
    margin-right: 382px;
    margin-left: 118px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 136px;
    margin-left: 332px;
  }

  .u-section-3 .u-image-12 {
    margin-top: 248px;
    margin-left: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2505px;
  }

  .u-section-3 .u-image-1 {
    height: 443px;
    margin-top: 158px;
    margin-right: 270px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -924px;
    margin-right: 270px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    height: 443px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: 293px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -924px;
    margin-right: 12px;
  }

  .u-section-3 .u-image-5 {
    width: 155px;
    height: 236px;
    margin-top: -399px;
    margin-left: 81px;
  }

  .u-section-3 .u-image-6 {
    margin-top: -236px;
    margin-right: 39px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 277px;
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-3 .u-image-8 {
    margin-top: -245px;
    margin-left: 293px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 107px;
    margin-right: 33px;
    margin-left: auto;
    padding-bottom: 11px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -48px;
    margin-left: 61px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -532px;
    margin-right: 35px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 65px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -412px;
    margin-right: 272px;
    margin-left: 70px;
  }

  .u-section-3 .u-image-9 {
    margin-top: 883px;
    margin-right: 146px;
  }

  .u-section-3 .u-image-10 {
    margin-top: -324px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-5 {
    margin-top: -290px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 365px;
    margin-right: 175px;
  }

  .u-section-3 .u-group-1 {
    min-height: 239px;
    margin-top: 85px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 341px;
  }

  .u-section-3 .u-group-2 {
    min-height: 218px;
    margin-top: -154px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 60px;
    margin-right: 223px;
  }

  .u-section-3 .u-image-11 {
    width: 30px;
    height: 35px;
    margin-top: -29px;
    margin-right: 223px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 9px;
  }

  .u-section-3 .u-group-3 {
    margin-top: -15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    margin-top: -99px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: -2012px;
    margin-right: 47px;
    margin-left: 333px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 460px;
    margin-right: 270px;
    margin-left: 43px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -33px;
    margin-right: 18px;
    margin-left: 302px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 406px;
    margin-right: 175px;
    margin-left: 113px;
  }

  .u-section-3 .u-image-12 {
    margin-top: 114px;
    margin-left: -16px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3267px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 479px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: -904px;
    margin-right: auto;
  }

  .u-section-3 .u-image-5 {
    width: 255px;
    height: 227px;
    margin-top: -1322px;
    margin-left: auto;
  }

  .u-section-3 .u-image-6 {
    margin-top: 248px;
    margin-right: auto;
  }

  .u-section-3 .u-image-7 {
    margin-top: 238px;
    margin-left: auto;
  }

  .u-section-3 .u-image-8 {
    margin-top: 228px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 105px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -510px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -510px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-4 {
    margin-top: -512px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 133px;
    margin-top: -418px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-9 {
    margin-top: 1815px;
    margin-right: auto;
  }

  .u-section-3 .u-image-10 {
    margin-top: -328px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: -763px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 831px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: -27px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-right: 141px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 233px;
    margin-top: -96px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 30px;
    margin-right: 23px;
  }

  .u-section-3 .u-image-11 {
    height: 34px;
    margin-top: -31px;
    margin-right: 46px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-3 .u-group-3 {
    margin-top: -30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-4 {
    min-height: 388px;
    margin-top: -53px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
    margin-top: -2616px;
    margin-right: 77px;
    margin-left: 104px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.5rem;
    margin-top: 429px;
    margin-right: 32px;
    margin-left: 81px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
    margin-top: 437px;
    margin-right: 36px;
    margin-left: 85px;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.5rem;
    width: 252px;
    margin-top: 443px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-12 {
    margin-top: 1022px;
    margin-right: -21px;
    margin-left: auto;
  }
}