.u-section-1 {
  min-height: 678px;
}

.u-section-1 .u-image-1 {
  height: 410px;
  margin-top: 268px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 232px;
  height: 441px;
  margin: -661px auto 0 calc(((100% - 1140px) / 2) + 26px);
}

.u-section-1 .u-image-3 {
  width: 255px;
  height: 227px;
  animation-duration: 1000ms;
  margin: -398px auto 0 calc(((100% - 1140px) / 2) + 15px);
}

.u-section-1 .u-btn-1 {
  animation-duration: 1000ms;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: normal;
  margin: 105px auto 0 calc(((100% - 1140px) / 2) + 53px);
  padding: 11px 46px 11px 44px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: -414px calc(((100% - 1140px) / 2) + 918px) 0 calc(((100% - 1140px) / 2) + 63px);
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 25px calc(((100% - 1140px) / 2) + 399px) 0 calc(((100% - 1140px) / 2) + 447px);
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 78px calc(((100% - 1140px) / 2) + 188px) 0 calc(((100% - 1140px) / 2) + 391px);
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: -69px calc(((100% - 1140px) / 2) + 144px) 0 calc(((100% - 1140px) / 2) + 435px);
}

.u-section-1 .u-image-4 {
  width: 178px;
  height: 185px;
  margin: -172px calc(((100% - 1140px) / 2) + 93px) 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
  font-size: 1rem;
  margin: 23px calc(((100% - 1140px) / 2) + 74px) 0 auto;
  padding: 8px 67px 8px 65px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: -76px calc(((100% - 1140px) / 2) + 71px) 0 calc(((100% - 1140px) / 2) + 884px);
}

.u-section-1 .u-btn-3 {
  border-style: none;
  background-image: none;
  font-size: 1rem;
  margin: 65px calc(((100% - 1140px) / 2) + 74px) 0 auto;
  padding: 8px 57px 8px 56px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  background-image: none;
  font-size: 1rem;
  margin: 13px calc(((100% - 1140px) / 2) + 74px) 0 auto;
  padding: 8px 64px 8px 63px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: -76px calc(((100% - 1140px) / 2) + 665px) 60px calc(((100% - 1140px) / 2) + 53px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    margin-top: -619px;
    margin-left: calc(((100% - 940px) / 2) + 34px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -395px;
    margin-left: calc(((100% - 940px) / 2) + 17px);
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-top: 108px;
    margin-left: calc(((100% - 940px) / 2) + 55px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -327px;
    margin-right: calc(((100% - 940px) / 2) + 450px);
    margin-left: calc(((100% - 940px) / 2) + 266px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -61px;
    margin-right: calc(((100% - 940px) / 2) + 247px);
    margin-left: calc(((100% - 940px) / 2) + 398px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 46px;
    margin-right: calc(((100% - 940px) / 2) + 238px);
    margin-left: calc(((100% - 940px) / 2) + 341px);
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -58px;
    margin-right: calc(((100% - 940px) / 2) + 190px);
    margin-left: calc(((100% - 940px) / 2) + 390px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -179px;
    margin-right: calc(((100% - 940px) / 2) + 39px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: 22px;
    margin-right: calc(((100% - 940px) / 2) + 70px);
    padding-right: 27px;
    padding-left: 26px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -80px;
    margin-right: calc(((100% - 940px) / 2) + 44px);
    margin-left: calc(((100% - 940px) / 2) + 732px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: 72px;
    margin-right: calc(((100% - 940px) / 2) + 70px);
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 940px) / 2) + 70px);
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -55px;
    margin-right: calc(((100% - 940px) / 2) + 463px);
    margin-left: calc(((100% - 940px) / 2) + 55px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 431px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -802px;
    margin-left: calc(((100% - 720px) / 2) + 23px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -387px;
    margin-left: calc(((100% - 720px) / 2) + 12px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 99px;
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -417px;
    margin-right: calc(((100% - 720px) / 2) + 477px);
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -52px;
    margin-right: calc(((100% - 720px) / 2) + 65px);
    margin-left: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 69px;
    margin-right: calc(((100% - 720px) / 2) + 65px);
    margin-left: calc(((100% - 720px) / 2) + 305px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 65px);
    margin-left: calc(((100% - 720px) / 2) + 349px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 82px;
    margin-right: calc(((100% - 720px) / 2) + 255px);
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    margin-top: -177px;
    margin-right: calc(((100% - 720px) / 2) + 89px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -79px;
    margin-right: calc(((100% - 720px) / 2) + 57px);
    margin-left: calc(((100% - 720px) / 2) + 490px);
  }

  .u-section-1 .u-btn-3 {
    border-style: solid;
    margin-top: 73px;
    margin-right: calc(((100% - 720px) / 2) + 89px);
  }

  .u-section-1 .u-btn-4 {
    border-style: solid;
    margin-top: 18px;
    margin-right: calc(((100% - 720px) / 2) + 89px);
  }

  .u-section-1 .u-text-6 {
    margin-top: -75px;
    margin-right: calc(((100% - 720px) / 2) + 248px);
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 313px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -679px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-top: -399px;
    margin-left: calc(((100% - 540px) / 2) + -11px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 103px;
    margin-left: calc(((100% - 540px) / 2) + 27px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -411px;
    margin-right: calc(((100% - 540px) / 2) + 308px);
    margin-left: calc(((100% - 540px) / 2) + 26px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -60px;
    margin-right: calc(((100% - 540px) / 2) + -25px);
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 43px;
    margin-right: calc(((100% - 540px) / 2) + 63px);
    margin-left: calc(((100% - 540px) / 2) + 305px);
  }

  .u-section-1 .u-text-4 {
    margin-top: -74px;
    margin-right: calc(((100% - 540px) / 2) + 16px);
    margin-left: calc(((100% - 540px) / 2) + 270px);
  }

  .u-section-1 .u-image-4 {
    width: 137px;
    height: 143px;
    margin-top: 58px;
    margin-right: calc(((100% - 540px) / 2) + 149px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -109px;
    margin-right: calc(((100% - 540px) / 2) + 47px);
    padding-right: 13px;
    padding-left: 12px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: -76px;
    margin-right: calc(((100% - 540px) / 2) + 15px);
    margin-left: calc(((100% - 540px) / 2) + 384px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: 72px;
    margin-right: calc(((100% - 540px) / 2) + 47px);
    padding-right: 3px;
    padding-left: 2px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 15px;
    margin-right: calc(((100% - 540px) / 2) + 47px);
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -49px;
    margin-right: calc(((100% - 540px) / 2) + 91px);
    margin-left: calc(((100% - 540px) / 2) + 27px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 480px;
  }

  .u-section-1 .u-image-1 {
    height: 296px;
    width: 667px;
    margin-top: 186px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + -152px);
  }

  .u-section-1 .u-image-2 {
    width: 105px;
    height: 207px;
    margin-top: -439px;
    margin-left: calc(((100% - 340px) / 2) + 15px);
  }

  .u-section-1 .u-image-3 {
    width: 80px;
    height: 110px;
    margin-top: -193px;
    margin-left: calc(((100% - 340px) / 2) + 28px);
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 44px;
    margin-left: calc(((100% - 340px) / 2) + 25px);
    padding: 4px 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -214px;
    margin-right: calc(((100% - 340px) / 2) + 90px);
    margin-left: calc(((100% - 340px) / 2) + 112px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -39px;
    margin-right: calc(((100% - 340px) / 2) + -19px);
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 27px;
    margin-right: calc(((100% - 340px) / 2) + 33px);
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: -51px;
    margin-right: calc(((100% - 340px) / 2) + -64px);
    margin-left: calc(((100% - 340px) / 2) + 157px);
  }

  .u-section-1 .u-image-4 {
    width: 73px;
    height: 76px;
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: -56px;
    margin-right: calc(((100% - 340px) / 2) + 34px);
    padding-top: 3px;
    padding-right: 14px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    margin-top: -50px;
    margin-right: calc(((100% - 340px) / 2) + 15px);
    margin-left: calc(((100% - 340px) / 2) + 218px);
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: 42px;
    margin-right: calc(((100% - 340px) / 2) + 34px);
    padding: 3px 6px 5px 5px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.75rem;
    margin-top: 8px;
    margin-right: calc(((100% - 340px) / 2) + 34px);
    padding: 3px 11px 4px 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.625rem;
    margin-top: -68px;
    margin-right: calc(((100% - 340px) / 2) + 149px);
    margin-left: calc(((100% - 340px) / 2) + 21px);
  }
}